In [1]:
l1 = [1,2,3,4,5]

l2 = []

for i in l1 :
    l2.append(i**2)
    
l2

[1, 4, 9, 16, 25]

In [3]:
l1 = [1,2,3,4,5]
l2=[i**2 for i in l1]
l2

[1, 4, 9, 16, 25]

In [4]:
l1=[1,2,3,4,5,6,7,8,9,10]
l2=[]
for i in l1:
    if i%2==0:
        l2.append(i)

l2

[2, 4, 6, 8, 10]

In [7]:
l1 = [1,2,3,4,5,6,7,8,9,10]
l2=[i for i in l1 if i%2==0]
l3=[i for i in l1 if i%2==0 and i%3==0]
l2
l3
#print those number that divisible by both 2 and 3

[6]

In [17]:
#create a list of odd number from 1 to 100
l3=[i for i in range(1,100) if i%2!=0 ]

print(l3)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [14]:
l1=[1,2,3,4,5,6,7,8,9,10]
l2=[]
for i in l1:
    if i%2==0:
        l2.append("even")
    else:
        l2.append("odd")
print(l2)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [18]:
l1=[1,2,3,4,5,6,7,8,9,10]
l3=['even' if i%2==0 else 'odd' for i in l1]

l3

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [ ]:
from 1 to 5, i will print even if number is divisble by 2 and if not divisble store odd and if number==3 store number is 3
[1,2,3,4,5]
output=[odd,even,'number is 3','evn',odd]

In [22]:
l = [1, 2, 3, 41, 5]
['even' if i%2==0 else 'number is 3' if i==3 else 'number is 41' if i==41 else 'odd' for i in l]

['odd', 'even', 'number is 3', 'number is 41', 'odd']

In [25]:
def welcome():
    print('welcome to the python class')

In [28]:
a=welcome()
print(a)

welcome to the python class
None

In [31]:
def welcome():
    return 'welcome to the python class'
a=welcome()
print(a)

welcome to the python class

In [38]:
def welcome(a):
    return 'welcome to the python class ' +a
welcome('lpu folks')

'welcome to the python class lpu folks'

In [35]:
welcome('lpu folks','ashish')

TypeError: welcome() takes 1 positional argument but 2 were given

In [36]:
#make a function that will take 2 number from user and return aaddition of that two number
def sum(a,b):
    return a+b
sum(2,3)

5

In [40]:
def welcome(a='lpu folks'):
    return 'welcome to the python class ' +a
print(welcome('ashish'))
welcome()

welcome to the python class ashish

'welcome to the python class lpu folks'

In [ ]:
Define a calculator function which takes 3 arguments from the user ,first two will be numbers and third will be operations 
like (+,-,*,/).If user forgets to give third argument then by default operation it performs addition.

calculator(3,4,+) output: sum of 3 and 4 is :7

calculator(4,2) output: sum of 4 and 2 is :6

In [45]:
def calculator(a,b,operator="+"):
    if operator== '+':
        return a+b
    elif operator== '-':
        return a-b
    elif operator== '*':
        return a*b
    elif operator== '/':
        return a/b
    

calculator(2,3)
calculator(2,3,'-')

-1

In [46]:
def add(num1, num2):
    return num1 + num2
def sub(num1, num2):
    return num1 - num2

# Function to multiply two numbers
def mul(num1, num2):
    return num1 * num2

# Function to divide two numbers
def div(num1, num2):
    return num1 / num2

def calculator(n1,n2,op='+'):
    if op=='-':
        print(sub(n1,n2))
    elif op=='*':
        print(mul(n1,n2))
    elif op=='/':
        print(div(n1,n2))
    else:
        print(add(n1,n2))

n1=int(input('enter 1st number'))
n2=int(input('enter 2nd number'))
op=input('enter operator')
calculator(n1,n2)

enter 1st number2
enter 2nd number3
enter operator+
5

In [49]:
def func(a,b,symbol='+'):
    return eval(str(a)+symbol+str(b))#2+3
func(2,3)
func(2,3,'/')

0.6666666666666666

In [50]:
2+3

5