In [3]:
#reduce
a=list(range(10,40))
a

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39]

In [4]:
a=list(range(10,40))
sum=0
for i in a:
    sum+=i

print(sum)

735

 reduce() is useful when you need to apply a function to an iterable and reduce it to a single cumulative value.

In [7]:
from functools import reduce

q  = reduce(lambda x, y: x+y, range(10,40))

print(q)

735

In [17]:
students_data = {1:['Sam', 15] , 2:['Sharma',18], 3:['Saina', 16], 4:['Saif',19], 5:['Varun',20]}
#want to print count how many key value pair in dictionay whose value is  greatr then 18
#2
count=0
for i in students_data:
    if students_data[i][1]>18:
        count+=1
print(count)

2

In [18]:
students_data = {1:['Sam', 15] , 2:['Sharma',18], 3:['Saina', 16], 4:['Saif',19], 5:['Varun',20]}

def func(key):
    if students_data[key][1]>18:
        return True
    else:
        return False
count=len(list(filter(func , students_data)))
print(count)

2

In [19]:
list(filter(func , students_data))

[4, 5]

In [16]:
students_data[1][1]

15

In [12]:
for i in students_data:
    print(i)

1
2
3
4
5

In [ ]:
count=len(list(filter(lambda x: True if students_data[x][1]>18 else False , students_data)))
print(count)

In [21]:
a=list(filter(lambda i:i[1]>18,students_data.values()))
len(a)

2

In [20]:
students_data.values()

dict_values([['Sam', 15], ['Sharma', 18], ['Saina', 16], ['Saif', 19], ['Varun', 20]])

In [ ]:
Write a Python program to filter a dictionary based on values.
Original Dictionary:
{'Cierra Vega': 175, 'Alden Cantrell': 180, 'Kierra Gentry': 165, 'Pierre Cox': 190}

Marks greater than 170:

{'Cierra Vega': 175, 'Alden Cantrell': 180, 'Pierre Cox': 190}

In [26]:
a={'Cierra Vega':ierra Gentry': 165, 'Pierre Cox': 190}
print(dict(filter(lambda e:e[1]>170, 175, 'Alden Cantrell': 180, 'K a.items() ) ) )

{'Cierra Vega': 175, 'Alden Cantrell': 180, 'Pierre Cox': 190}

In [27]:
a={'Cierra Vega': 175, 'Alden Cantrell': 180, 'Kierra Gentry': 165, 'Pierre Cox': 190}

b={x:a[x] for x in a if a[x]>170}#dictionary
print(b)

{'Cierra Vega': 175, 'Alden Cantrell': 180, 'Pierre Cox': 190}

In [36]:
def fil(f):
    if f[1]>170:
        return True
print(dict(filter(fil, a.items() ) ) )

{'Cierra Vega': 175, 'Alden Cantrell': 180, 'Pierre Cox': 190}

In [35]:
x=a.items()
print(x)
dict(x)

dict_items([('Cierra Vega', 175), ('Alden Cantrell', 180), ('Kierra Gentry', 165), ('Pierre Cox', 190)])

{'Cierra Vega': 175,
 'Alden Cantrell': 180,
 'Kierra Gentry': 165,
 'Pierre Cox': 190}

In [37]:
b=dict(filter(lambda x: True if x[1]>170 else False,a.items()))
print(b)

{'Cierra Vega': 175, 'Alden Cantrell': 180, 'Pierre Cox': 190}

In [41]:
# Example on list comprehension

l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a list consisting of length of each element from the above list

l2 = [len(i) for i in l1]

print(l1)
print(l2)

['automobiles', 'Honda', 'Benz', 'Suzuki', 'Morris Garages']
[11, 5, 4, 6, 14]

In [39]:
for i,j in zip(l1,l2):
    print(i, " - ", j)

automobiles  -  11
Honda  -  5
Benz  -  4
Suzuki  -  6
Morris Garages  -  14

In [42]:
for i in range(len(l1)):
    print(l1[i], " - ", l2[i])

automobiles  -  11
Honda  -  5
Benz  -  4
Suzuki  -  6
Morris Garages  -  14

In [45]:
l3=[6,7,8]
list(zip(l1,l2,l3))

[('automobiles', 11, 6), ('Honda', 5, 7), ('Benz', 4, 8)]