<h2 style="color:Brown"> Variables</h2>

In [ ]:
name = "mike"
print(name)

In [3]:
name = input("Enter your name : ")
print("Welcome", name)

Enter your name : Jane
Welcome Jane

<h2 style="color:Brown"> Data Types in Python

- Here in the below piece of code you can see that we have assigned each variable with a particular value and use the type method we can check the datatype of the variable

In [ ]:
integer_num = 1
floating_num = 1.3
string = 'Mike'
boolean = True

print (type(integer_num))
print (type(floating_num))
print (type(string))
print (type(boolean))

- Type Casting in Python

In [4]:
a = 1
print ( bool(a))
print ( float(a))
print ( str(a))

True
1.0
1

<h2 style="color:Brown"> Arithmatic Operations

In [5]:
a = 6
b = 7
print("Addition  = ", a + b)  
print("Substraction = ", a - b) 
print("Multiplication = ", a * b) 
print("Division = ", a / b)

Addition  =  13
Substraction =  -1
Multiplication =  42
Division =  0.8571428571428571

In [6]:
#Floor Division
print("Floor Division = ", a // b)

Floor Division =  0

In [7]:
#Remainder
print("Modulus or remainder",a % b)

Modulus or remainder 6

In [8]:
#Exponential
print("Exponential = ", a ** b)

Exponential =  279936

- Expression executes following the operator precedence rule
- https://docs.python.org/3.7/reference/expressions.html?#operator-precedence

In [ ]:
print((4 * 5) - 9 + 6 / 7)

<h2 style="color:Brown"> String Operations

In [9]:
#Whenever we are assigning a char or string we use '' which represents a character
c = 'z'
d = 'Mike'
#You can also use " " double quotes instead of single quotes for strings
e = "John"

#### Indexing In Strings <br>
- Forward indexing starts with 0
- Reverse indexing start with last character as -1 in a python string
- Strings are immutable which means they cannot be changed once created.
- Strings can be modified by slicing a part of it and concatenating with another

In [1]:
# Len() function
string = "ABCDEFGH"
len(string)

8

In [2]:
#Accessing first character
string[0]

'A'

In [3]:
#Accessing last character using negative indexing
string[-1]

'H'

In [4]:
# Trying to change the character at index 2
string[2] = 't'

TypeError: 'str' object does not support item assignment

In [5]:
# Changing the entire string
string = 'ghijkl'
print (string)

ghijkl

In [6]:
#string concatenation

first_name = "Monty"
last_name = 'Python'

name = first_name + " " + last_name
print(name)

Monty Python

In [7]:
# type casting using str() function 
age = 30
print("I am "+ str(age) + " years old")

I am 30 years old

#### Slicing In Strings
- string[start:end:step]

In [8]:
#slicing by specifying start and end index
statement = "Python programming is fun"
sliced_statement = statement[0:7]
print(sliced_statement)

Python

In [9]:
batch = "5 girls 3 boys in a class"
girls = batch[ :8]
print(girls)

print(batch[ 8: ])

5 girls
3 boys in a class

In [30]:
# Slicing by specifing range

nums = '123456789'
even_nums = nums[1::2]
print(even_nums)

2468

In [31]:
# printing odd_nums
odd_nums = nums[0::2]
print(odd_nums)

13579

In [13]:
# Membership 
String = "John! Did you attend the conference on advanced machine learning"
print( 'John' in String)
print ( 'David' not in String)
print ( 'ashu' in String)

True
True
False

In [14]:
# Repeatition

String = "abcd"
print (String*4)

abcdabcdabcdabcd

#### String methods
- upper()
- lower()
- strip()
- count(substring,begin,end)
- https://docs.python.org/3.7/library/stdtypes.html#string-methods

In [15]:
# upper() 
small = "i am upper cased"
print(small.upper())

I AM UPPER CASED

In [16]:
# lower() 
large = "I AM LOWER CASED"
print(large.lower())

i am lower cased

In [19]:
# rstrip () function
some_sentence = "There is a space at the end    "
print(some_sentence)
print(len(some_sentence))
print(len(some_sentence.rstrip()))

There is a space at the end
31
27

In [20]:
increment = '4%'
print(increment.rstrip('%'))

4

In [21]:
increment = '4e'
print(increment.rstrip('e'))

4

In [22]:
# lstrip() function
start = "   There is space at the start"
print(start)
print(start.lstrip())

   There is space at the start
There is space at the start

In [23]:
# strip() function 
spaces = "   Trim whitespaces  "
print(spaces)
print(spaces.strip())

   Trim whitespaces
Trim whitespaces

In [24]:
num_with_chars = '******444#######'
print(num_with_chars.rstrip('#').lstrip('*'))

444

In [25]:
#count() Method
#string.count(value, start, end)
string = "This is a sample sentence"
print(string.count('i'))
print(string.count('i',5))

2
1

In [31]:
age=23
g='python'
My_age = "I am {} years old and i like {} language".format(age,g) 
My_age

'I am 23 years old and i like python language'

In [29]:
#r/R It is used to specify the raw string.% It is used to perform string formatting.

A = "Data"
B = "Analysis"
C = "Pandas"

print("{} {} using {}".format(A,B,C))

Data Analysis using Pandas

In [32]:
a=input()
print(a)

ashish
ashish

In [33]:
a=input('enter your name')
print(a)

enter your nameprajwal
prajwal

In [37]:
a=int(input('enter a firsrt numer'))
b=int(input('enter a second'))
c=a+b
print('addition of two number is',c)

enter a firsrt numer23
enter a second34
addition of two number is 57

In [7]:
#if else
a=int(input('enter a firsrt numer'))

if a>25:
    print('yes  person have car')
else:
    print('person have no car')

enter a firsrt numer67
yes  person have car

In [11]:
#if elif else 18-25 bike, <18 person have no car,bike
a=int(input('enter a firsrt numer'))

if 18<a<25:
    print('yes  person have bike')
elif a>25:
    print('yes person have car')
else:
    print('person have no car')

enter a firsrt numer2
person have no car

In [13]:
#if elif else 18-25 bike, <18 person have no car,bike
a=int(input('enter a firsrt numer'))

if a>18 and a<25:#true and true=true
    print('yes  person have bike')
elif a>25:
    print('yes person have car')
else:
    print('person have no car')

enter a firsrt numer23
yes  person have bike

In [14]:
x=34
if x < 20 or x > 40:#false or false=false
    print('Outside')
else:
    print('Inside')

Inside

In [15]:
x=19
if x < 20 or x > 40:#true or false=true
    print('Outside')
else:
    print('Inside')

Outside

In [3]:
x = 8

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")
else:
    if x>5:
        print('he require compalin')
    else:
        print('he require horlicks')

he require compalin

In [4]:
for i in range(10):
   print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
for i in range(1,10):
   print(i)

1
2
3
4
5
6
7
8
9

In [6]:
for i in range(1,10,2):
   print(i)

1
3
5
7
9

In [7]:
for i in range(9,0,-1):#987654321 
   print(i)

9
8
7
6
5
4
3
2
1

In [8]:
a='all lpu folks are awesome'#1
for i in a:
    print(i)

a
l
l

l
p
u

f
o
l
k
s

a
r
e

a
w
e
s
o
m
e

In [9]:
a='all lpu folks are awesome'#2 index number
a[0]

'a'

In [21]:
a='all lpu folks are awesome'#2 index number
for i in range(len(a)):
    print(a[i],end='')

all lpu folks are awesome

In [19]:
a='i love python'
b='i am lpu student'
print(a,end=' ')
print(b)

i love python i am lpu student