<h1 style="color:Brown"> Tuples </h1>

- Tuples are an ordered sequnce of mixed data types.
- Tuples are written as comma-separated  elements within parenthesis

In [49]:
t = ("disco", 12, 4.5)
t

('disco', 12, 4.5)

In [50]:
type(t)

tuple

In [51]:
t[0][3]= 't'

TypeError: 'str' object does not support item assignment

In [52]:
t[1]='lpu'
t

TypeError: 'tuple' object does not support item assignment

In [62]:
a=(['s','g','h'])
a[0]=['j']
a

[['j'], 'g', 'h']

In [59]:
a=(9)

In [60]:
type(a)

int

<h3> Tuples can be defined is various ways </h3>

#### A tuple can be defined without using parenthesis

In [66]:
sample_tuple = 1,2,3,4

print(sample_tuple)
print(type(sample_tuple))

(1, 2, 3, 4)
<class 'tuple'>

#### single value tuple

In [69]:
sample_tuple = 1,  
print(sample_tuple)
print(type(sample_tuple))

(1,)
<class 'tuple'>

In [70]:
sample_tuple = (1,)  
print(sample_tuple)

(1,)

In [71]:
sample_tuple1 = 1   #This is not a tuple

In [72]:
sample_tuple2 = (1) # This is not a tuple

### Indexing in tuples

In [73]:
t = ("Mumbai", 84, "Python",)

In [74]:
# gives the element at index location 1
t[1]

84

In [75]:
# gives the last element from tuple
t[-1]

'Python'

### Slicing

In [76]:
# Slicing first 3 elements from t

t = ("Mumbai", 84, "Python", 5, 2, 1)

t[0:3]

('Mumbai', 84, 'Python')

In [77]:
# Slicing last 2 elements from t

t = ("Mumbai", 84, "Python", 5, 2, 1)

t[-2:]

(2, 1)

In [78]:
# no. of elements in tuple t
t = ("Mumbai", 84, "Python", 5, 2, 1)
len(t)

6

#### Cancatenating tuples

In [79]:
tup1 = ("This", "is", "Session", 2)
tup2 = ("on", "Tuples")

# Adding contents of tup2 to tup1 and storing in tup3

tup3 = tup1 + tup2

tup3

('This', 'is', 'Session', 2, 'on', 'Tuples')

#### sum() - min() - max()

In [80]:
t = (2, 4, 3, 5, 7)
sum(t)

21

In [81]:
t = (2, 4, 3, 5, 7)
min(t)

2

In [82]:
t = (2, 4, 3, 5, 7)
max(t)

7

### Immutability of tuples

In [85]:
t = ("USA", 4, 3, "Disco", 7.5)

t[3] = "Hard Rock"

TypeError: 'tuple' object does not support item assignment

In [86]:
new_t = t[0:3] + ("Hard Rock",) + t[4:]
new_t

('USA', 4, 3, 'Hard Rock', 7.5)

In [89]:
t = ("USA", 4, 3, "Disco", 7.5)
t=list(t)
t.append('lpu')
t=tuple(t)
t

('USA', 4, 3, 'Disco', 7.5, 'lpu')

### Sorting a tuple

In [94]:
t = (2,3,6,4,8,5)
#t.sort()
sorted(t)

[2, 3, 4, 5, 6, 8]

In [95]:
# Nested Tuples

t = (1,5,"Disco", ("Python", "Java"))

# Access "Java" from the nested tuple
t[3][1]

'Java'

### Packing and Unpacking In Tuples

In [100]:
t = (1,2,3,4)     # Packing 
(a,b,c,d) = t   
#(a,b,c) = t # Unpacking 
print (a)
print (b)
print (c)

1
2
3

#### dir() - to view the attributes or methods of an object

In [101]:
t = ()
print(dir(t))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

<h1 style="color:Brown"> Lists </h1>

- Lists are an ordered sequnce of mixed data types.
- Lists are written as comma-separated  elements within square brackets

In [1]:
L = ["India", 23, 6, "Mumbai"]

L

['India', 23, 6, 'Mumbai']

In [4]:
list((1,2,3))

[1, 2, 3]

In [5]:
# Nested List

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [6]:
# Indexing

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L[0]

'Chemistry'

In [8]:
L[2]#3RD LAST

[1989, 2004]

In [10]:
L[2][0]
L[2][-1]

2004

In [11]:
L[0][3]

'm'

In [15]:
L[0][0][0][0][0][0][0][0][0][0][0][0]
L[0][0][0][0][0][0][0][0][0][0][0][1]

IndexError: string index out of range

In [18]:
L[2][0][1]

TypeError: 'int' object is not subscriptable

In [19]:
# Slicing

L[0:3]

['Chemistry', 'Biology', [1989, 2004]]

In [20]:
# List Concatanetion

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
new_L = L + [5, 8]
new_L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [22]:
# append()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.append('lpu')
L.append([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 'lpu', [5, 8]]

In [23]:
# extend()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.extend([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [21]:
# Replace "Biology" with "Physics"

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L[1] = "Physics"

L

['Chemistry', 'Physics', [1989, 2004], ('Oreily', 'Pearson')]

In [24]:
# del Command

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
del L[0]
L

['Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [28]:
# pop() 

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L.pop()

L

['Chemistry', 'Biology', [1989, 2004]]

In [30]:
#L.pop(0)
L.pop(1)
L

['Biology']

In [31]:
# pop() 

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

a=L.pop(0)
print(type(a))
a

<class 'str'>

'Chemistry'

In [33]:
# delete() 

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

del L[0]
L

['Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [35]:
# remove()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L.remove("Chemistry")

L

['Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [37]:
L.remove("Chemis")

ValueError: list.remove(x): x not in list

In [38]:
# Sorting Lists

l = [32, 24, 65, 9]
l.sort()
l

[9, 24, 32, 65]

In [39]:
l.sort(reverse= True)
l

[65, 32, 24, 9]

#### Difference between sort and sorted

In [40]:
A = ["Orange", "Strawberry", "Mango"]
B = A.sort()

print(A)
print(B)

['Mango', 'Orange', 'Strawberry']
None

In [42]:
A = ["Orange", "Strawberry", "Mango"]
C = sorted(A)

print(A)
print(C)

['Orange', 'Strawberry', 'Mango']
['Mango', 'Orange', 'Strawberry']

#### Shallow Copying

In [43]:
#Shallow Copy stores the references of objects to the original memory address.
#Shallow Copy reflects changes made to the new/copied object in the original object. 
A = ["Orange", "Strawberry", "Mango"]
B = A

A[0] = "Apple"

In [44]:
A

['Apple', 'Strawberry', 'Mango']

In [45]:
B

['Apple', 'Strawberry', 'Mango']

In [63]:
#deep copy
#Deep copy stores copies of the object's value. 
#Deep copy doesn't reflect changes made to the new/copied object in the original object.
A = ["Orange", "Strawberry", "Mango"]
B=A.copy()
B

['Orange', 'Strawberry', 'Mango']

In [64]:
A[0]='Lpu'
print(A)
print(B)

['Lpu', 'Strawberry', 'Mango']
['Orange', 'Strawberry', 'Mango']

In [83]:
t = [2, 4, 3, 5, 7]
sum(t)

21

In [84]:
t = [2, 4, 3, 5, 7]
min(t)
max(t)

7

<h1 style="color:Brown"> Sets </h1>

- Sets are a type of collection like lists and tuples, storing mixed data.
- Sets are enclosed within curly brackets and elements are written as comma-separated.
- Sets are unordered
- Sets does not allow duplicates

In [103]:
l = [1,3,2,4,5,5]

set_l = set(l)

l=list(set_l)
l

[1, 2, 3, 4, 5]

In [104]:
len(set_l)

5

In [110]:
a = {1, 2, 3, 4, 5}

a.add("India")

a

{1, 2, 3, 4, 5, 'India'}

In [111]:
a[0]

TypeError: 'set' object is not subscriptable

In [106]:
a.add("India")
a

{1, 2, 3, 4, 5, 'India'}

In [107]:
a = {1, 2, 3, 4, 5, "India"}
a.remove("India")
a

{1, 2, 3, 4, 5}

In [108]:
# Set Operations

A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}

In [112]:
print(A | B) # Union
A.union(B)

{0, 1, 2, 3, 4, 5, 6, 8}

{0, 1, 2, 3, 4, 5, 6, 8}

In [113]:
print(A & B) # Intersection
A.intersection(B)

{2, 4}

{2, 4}

In [115]:
A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}
print(A - B) # Difference

{0, 8, 6}

In [116]:
print(A ^ B) # Symmetric Difference

{0, 1, 3, 5, 6, 8}

<h1 style="color:Brown"> Dictionaries </h1>

- A dictionary stores element as keys and values pairs.
- The key is like an index, its is always unique and immutable. 
- The values are the objects that contain information.
- Values are accessed using their keys.
- Each key is followed by a value separated by a colon. 
- The values can be immutable, mutable, and duplicates. 
- Each key and value pair is separated by a comma enclosed inside curly brackets.

In [117]:
# Creating a dictionary

d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}

# Access value using keys

d["India"]

'INR'

In [118]:
# Replace the value for a key in a dictionary

d["India"] = "Rs"

d

{'India': 'Rs', 'USA': 'USD', 'France': 'Euros'}

In [119]:
# Insert new key value pair into a dictionary

d["Japan"] = "Yen"

d

{'India': 'Rs', 'USA': 'USD', 'France': 'Euros', 'Japan': 'Yen'}

In [120]:
d["Japan"] = "inr"

d

{'India': 'Rs', 'USA': 'USD', 'France': 'Euros', 'Japan': 'inr'}

In [121]:
# Deleting a key value pair

del d["France"]

d

{'India': 'Rs', 'USA': 'USD', 'Japan': 'inr'}

In [122]:
# Sorting a dictionary

sorted(d)

['India', 'Japan', 'USA']

In [123]:
# Values() method

d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}
d.values()

dict_values(['INR', 'USD', 'Euros'])

In [124]:
# Keys() method

d.keys()

dict_keys(['India', 'USA', 'France'])

In [127]:
# Updat() method

d.update({'India':'Rupee','USA': 'USg','lpu':'students are good'})
d

{'India': 'Rupee', 'USA': 'USg', 'France': 'Euros', 'lpu': 'students are good'}