In [ ]:
Write a Python program to convert more than one list to nested dictionary. 
Original strings:
['S001', 'S002', 'S003', 'S004']
['Adina Park', 'Leyton Marsh', 'Duncan Boyle', 'Saim Richards']
[85, 98, 89, 92]

Nested dictionary:
[{'S001': {'Adina Park': 85}}, {'S002': {'Leyton Marsh': 98}}, {'S003': {'Duncan Boyle': 89}}, {'S004': {'Saim Richards': 92}}]

In [1]:
l1=['S001', 'S002', 'S003', 'S004']
l2=['Adina Park', 'Leyton Marsh', 'Duncan Boyle', 'Saim Richards']
l3=[85, 98, 89, 92]

ans = [{x: {y: z}} for (x, y, z) in zip(l1, l2, l3)]
print(ans)

[{'S001': {'Adina Park': 85}}, {'S002': {'Leyton Marsh': 98}}, {'S003': {'Duncan Boyle': 89}}, {'S004': {'Saim Richards': 92}}]

In [ ]:
-take how many input of student data he want to give
-if user 3 or 4 etc you need to take that number of input base on the 1st step input
-you need to take student name for wich he want to calculate avaerage marks and return that average marks

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika

output=56.00

In [10]:
n=int(input('enter number of students'))
dic={}
for i in range(0,n):
    Input = input()
    list = Input.split()
    dic[list[0]]=[int(list[x]) for x in range(1, len(list))]

print(dic)
name=input('enter name of students whose average need to calculate')
avgList=dic[name]
total = sum(avgList)
average=total/len(avgList)
print(average)

enter number of students3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
{'Krishna': [67, 68, 69], 'Arjun': [70, 98, 63], 'Malika': [52, 56, 60]}
enter name of students whose average need to calculateArjun
77.0

In [7]:
input().split()

Krishna 67 68 69

['Krishna', '67', '68', '69']

In [8]:
dic

{'Malika': [52, 56, 60]}

In [11]:
2-3-5

-6

In [13]:
2/3/5/6

0.022222222222222223

In [16]:
2**3

8

In [17]:
8**2

64

In [ ]:
Original dictionaries:
{'w': 50, 'x': 100, 'y': 'Green', 'z': 400}
{'x': 300, 'y': 'Red', 'z': 600}

Combined dictionaries, creating a list of values for each key:
{'w': [50], 'x': [100, 300], 'y': ['Green', 'Red'], 'z': [400, 600]}

In [18]:
x={'w': 50, 'x': 100, 'y': 'Green', 'z': 400}
y={'x': 300, 'y': 'Red', 'z': 600}

In [29]:
c={}
for i in x:
    if i in y:
        f=[]
        f.append(x[i])
        f.append(y[i])
        c[i]=f
    else:
        c[i]=x[i]
        
c

{'w': 50, 'x': [100, 300], 'y': ['Green', 'Red'], 'z': [400, 600]}

In [ ]:
[10,12,13]
log value of 10 is 1
log value of 12 is 2
log value of 13 is 3